* {
 margin: 0;
padding: 0;
box-sizing: border-box;
font-family: arial, sans-serif;

}
body{
     background: #f2f2f2;
     display: flex;
     justify-content: center;
     padding: 40px;
}
.container{
    background: rgb(207, 198, 198);
  padding: 25px;
  border-radius: 10px;
   width: 380px;
   box-shadow:  0 0 15px rgba(0, 0,01);

}
h1{
    text-align: center;
    margin-bottom: 20px;

}

.input-zone{
    display: flex;
    gap: 19px;
    margin-bottom: 20px;
}
#taskInput{
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.filters{
    display: flex;
    gap: 10px;
   margin-bottom: 15px;
}

.filters button {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: #ddd;
    cursor: pointer;
}
.filters .active {

    background: #0084ff;
    color: white;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
    background: #eee;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.done {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete {
    cursor: pointer;
    color: red;
    font-weight: bold;
}


